<!-- <p>
  request-data-table works!
</p>
<pre>{{ data$ | async | json }}</pre> -->
<ngb-accordion [closeOthers]="true" activeIds="pending">
  <ngb-panel title="Pending Request" id="pending">
    <ng-template ngbPanelContent>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search By Username Or UID" aria-label="Recipient's username" aria-describedby="basic-addon2" [formControl]="pendingFormFilter" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
      <table class="table">

        <thead>
            <tr>
              <!-- <th scope="col">UID</th>
              <th scope="col">Name</th>
              <th scope="col">Year of Passing</th>
              <th scope="col">Company</th>
              <th scope="col">Inspect|Accept|Reject</th> -->
              <th scope="col" *ngFor="let th of visibleFields[data$].th">{{th}}</th>
            </tr>
            <!-- <tr>

            </tr> -->
          </thead>
        <tbody *ngIf="pendingRequestDataLoaded;else loadingPendingRequestData">
          <tr *ngFor="let req of pendingReqList_filtered$|async;index as i">
            <th scope="row">{{req.uid}}</th>
            <td>{{req.first_name}} {{req.last_name}}</td>
            <td *ngFor="let td of visibleFields[data$].td">{{req[td]}}</td>
            <td><button class="btn btn-secondary mr-3" (click)="open(req,i)"><i class="fas fa-external-link-alt"></i></button><button class="btn btn-success mr-3" (click)="accept(req,i)"><i class="fas fa-user-check"></i></button><button class="btn btn-danger mr-3" (click)="reject(req)"><i class="fas fa-ban"></i></button></td>

          </tr>
        </tbody>
        <ng-template #loadingPendingRequestData>
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
    </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Completed Request" id="completed">
    <ng-template ngbPanelContent>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search By Username Or UID" aria-label="Recipient's username" aria-describedby="basic-addon2" [formControl]="complFormFilter" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <!-- {{complReqList_filtered$|async|json}} -->
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">UID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Year of Passing</th>
                  <th scope="col">Company</th>
                  <th scope="col">Inspect</th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let req of complReqList_filtered$|async;index as i">
                <th scope="row">{{req.uid}}</th>
                <td>{{req.first_name}} {{req.last_name}}</td>
                <td>{{req.yearOfGrad}} </td>
                <td>{{req?.company}} </td>
                <td><button class="btn btn-secondary mr-3" (click)="open(req)"><i class="fas fa-external-link-alt"></i></button></td>
              </tr>
            </tbody>
        </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<!-- <h3 class="mt-5">Pending Requests</h3> -->


<!-- <h3 class="mt-5">Accepted Requests</h3> -->


