
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" [ngClass]="{'active':status}">
            <div class="sidebar-header">
                <h3>LOR System</h3>
            </div>

            <ul class="list-unstyled components">
                <p>{{navLinks.role}}</p>
                <li *ngFor="let link of navLinks.links">
                    <a [routerLink]="[link.link]">{{link.tag}}</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" style="border-radius: 1px" class="btn btn-info" (click)="clickEvent($event)" >
                      <span *ngIf="status;else alt">
                          <i class="far fa-caret-square-right"></i>
                          <span>LOR System</span>
                      </span>
                      <ng-template #alt>
                          <i class="far fa-caret-square-left"></i>
                      </ng-template>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
                        <ul class="nav navbar-nav ml-auto nav-dark">
                          <li class="nav-item">
                            <a class="nav-link"  (click)="logout()">Logout</a>
                          </li>
                        </ul>
                    </div>
                </div>
              </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
