{{documents|async}}
<ul class="list-group" *ngIf="isPageLoaded$|async;else loading">
  <li class="list-group-item" *ngFor="let d of documents|async;index as i">
      {{d.filename}}
    <div class="float-right">
        <span *ngIf="downloading_errors[d.filename]" class="alert alert-danger">{{downloading_errors[d.filename]}}</span>
        <span *ngIf="deletion_errors[d.filename]" class="alert alert-danger">{{deletion_errors[d.filename]}}</span>
        <button class="btn btn-success ml-2" (click)="download(d.filename)">Download
            <span class="spinner-border spinner-border-sm" *ngIf="downLoading[d.filename]" role="status"></span>
        </button>
        <button class="btn btn-danger ml-2" (click)="delete(d.filename)">Delete
            <span class="spinner-border spinner-border-sm" *ngIf="deleting[d.filename]" role="status"></span>
        </button>

    </div>
  </li>
  <li class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Upload File</h5>
      <div *ngIf="error" class="alert alert-danger">
        {{ error["message"] }}
      </div>
    </div>
    <div *ngIf="uploadResponse.status === 'progress'">

      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
        <label class="custom-file-label" for="customFile" >
        {{filename}}
        </label>

      </div>
      <button type="submit" class="btn btn-success mt-2">Upload</button>

    </form>
  </li>
</ul>
<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 5rem; height: 5rem; margin: auto;" role="status">
    </div>
  </div>
</ng-template>
