
<div class="jumbotron">
    <div class="container">
      <!-- <div class="row">
        <header class="col-md-6 m-5" style="text-align:center">
          <h1>LOR System</h1>
        </header>
      </div> -->
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="./assets/SPIT_Logo.png" alt="spit"  style="margin-left:30%;width:200px">
            <h1 style="text-align: center">LOR System</h1>
          <h3>Register</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div *ngIf="step==2">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" placeholder="First Name" formControlName="first_name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="first_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" placeholder="Last Name" formControlName="last_name">
                </div>
              </div>

            </div>
            <div class="form-row">
            <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger col">
                <div *ngIf="first_name.errors['required']">
                  First Name is required.
                </div>
            </div>
            <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger col">
                <div *ngIf="last_name.errors['required']">
                  Last Name is required.
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="url=='userAdd';else alt">
              <label for="role">Select Your Role</label>
              <select id="role" class="form-control" formControlName="role">
                <!-- <option value="0" selected>Student</option> -->
                <option value="3">Teacher</option>
                <option value="1">TPO</option>
                <option value="2">HOD</option>
              </select>
              <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger col">
                  <div *ngIf="role.errors['required']">
                    Role is required.
                  </div>
              </div>
            </div>
            <ng-template #alt>
              <input type="radio" formControlName="role" value="0"><label for="role">By selecting this, You confirm that you are/were a Student of Sardar Patel Institute of Technology</label>
            </ng-template>
            <div class="form-group"  *ngIf="role.value==0">
              <label for="uid">UID</label>
              <input type="number" class="form-control" id="uid" placeholder="UID" formControlName="uid">
              <!-- <div *ngIf="uid.invalid && (uid.dirty || uid.touched)" class="alert alert-danger col">
                  <div *ngIf="uid.errors.required">
                    UID is required.
                  </div>
              </div> -->
            </div>
          </div>
            <div *ngIf="step==0">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="a@b.com" formControlName="email">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="contact">Contact</label>
                  <input type="number" class="form-control" id="contact" placeholder="XXXXXXXXXX" formControlName="contact">
                </div>
              </div>

            </div>
            <div class="form-row">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger col">
                <div *ngIf="email.errors['required'];else emailNotMatch">
                  Email is required.
                </div>
                <ng-template #emailNotMatch>
                  Invalid email
                </ng-template>
            </div>
            <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger col">
                <div *ngIf="contact.errors['required']">
                  Contact is required.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="retype_password">Retype Password</label>
                  <input type="password" class="form-control" id="retype_password" placeholder="Retype Password" formControlName="retype_password">
                </div>
              </div>
            </div>
            <div *ngIf="password.valid && retype_password.valid && password.value!=retype_password.value;else elseblock" class="alert alert-danger">
                Password and Retyped password must be same
            </div>
            <ng-template #elseblock>
                <div class="form-row">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger col">
                        <div *ngIf="password.errors['required'];else format">
                          Password is required.
                        </div>
                        <ng-template #format>
                          Password requires one lower case letter, one upper case letter, one digit, 6-3 length, and no spaces
                        </ng-template>
                    </div>
                    <div *ngIf="password.valid && retype_password.invalid && (retype_password.dirty || retype_password.touched)" class="alert alert-danger col">
                        <div *ngIf="retype_password.errors['required']">
                          You Must Retype the password.
                        </div>
                      </div>
                    </div>
            </ng-template>
            <button (click)="sendMail()" type="button" class="btn btn-primary" [disabled]="!email.valid">Next</button>
          </div>
          <div *ngIf="step==1">
            <div class="form-group">
              <label for="otp">Enter The OTP Recieved On Your Email.</label>
              <input type="number" id="otp" [formControl]="otp" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="otpErrorMessage">{{otpErrorMessage}}</div>
            <button (click)="verifyOtp()" type="button" [disabled]="!otp.valid" class="btn btn-primary">Verify Otp</button>
          </div>
          <div *ngIf="step==2">
            <!-- <div class="form-group">
              <label for="role">Select Your Role</label>
              <select id="role" class="form-control" formControlName="role">
                <option value="0" selected>Student</option>
                <option value="3">Teacher</option>
                <option value="1">TPO</option>
                <option value="2">HOD</option>
              </select>
              <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger col">
                  <div *ngIf="role.errors.required">
                    Role is required.
                  </div>
              </div>
            </div> -->
            <div class="form-group" *ngIf="role.value!=1" >
              <label for="dept">Department</label>
              <select id="dept" class="form-control" formControlName="dept">
                <option value="COMPS" selected>Computer</option>
                <option value="IT">Information Technology</option>
                <option value="EXTC">Electronics and Telecommunication</option>
                <option value="ETRX">Electronics</option>
                <option value="MCA">Master of Computer Application</option>
              </select>
              <div *ngIf="dept.invalid && (dept.dirty || dept.touched)" class="alert alert-danger col">
                  <div *ngIf="dept.errors['required']">
                    Department is required.
                  </div>
              </div>
            </div>
            <div class="row" style="text-align: center">
            <button class="btn btn-secondary col-md-3 m-2" (click)="back()">Back</button>
            <button type="submit" class="btn btn-primary col-md-4 m-2" [disabled]="registerForm.status!='VALID'">Submit</button>
            <button class="btn btn-success col-md-3 m-2" (click)="router.navigate(['/login'])">Cancel</button>
            <div class="alert alert-danger" *ngIf="registerErrorMessage">
                {{registerErrorMessage}}
            </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <pre>
    {{role.value|json}}
  </pre> -->
